In [40]:
import numpy as np
import tensorflow as tf
import pandas as pd

In [41]:
df = pd.read_csv('../dataset/train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
Y_train = pd.get_dummies(df['label']).as_matrix()
del df['label']
Y_train.shape

(42000, 10)

In [43]:
X_train = df.as_matrix()/255
X_train.shape

(42000, 784)

In [44]:
X_train = X_train.reshape(42000,28,28,1)
X_train.shape

(42000, 28, 28, 1)

In [45]:

model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Conv2D(32, (3, 3), input_shape=(28, 28,1)))
model.add(tf.keras.layers.Activation('relu'))
model.add(tf.keras.layers.MaxPooling2D(pool_size=(2, 2)))

model.add(tf.keras.layers.Conv2D(32, (3, 3)))
model.add(tf.keras.layers.Activation('relu'))
model.add(tf.keras.layers.MaxPooling2D(pool_size=(2, 2)))

model.add(tf.keras.layers.Conv2D(64, (3, 3)))
model.add(tf.keras.layers.Activation('relu'))
model.add(tf.keras.layers.MaxPooling2D(pool_size=(2, 2)))

model.add(tf.keras.layers.Flatten())  # this converts our 3D feature maps to 1D feature vectors
model.add(tf.keras.layers.Dense(64))
model.add(tf.keras.layers.Activation('relu'))
model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(10))
model.add(tf.keras.layers.Activation('sigmoid'))


model.compile(loss='categorical_crossentropy',
              optimizer='SGD',
              metrics=['accuracy'])

In [85]:
model.fit(X_train,Y_train,epochs=40,batch_size=16)

Epoch 1/40
42000/42000 [==============================] - 28s - loss: 0.0554 - acc: 0.9827
Epoch 2/40
42000/42000 [==============================] - 27s - loss: 0.0515 - acc: 0.9839
Epoch 3/40
42000/42000 [==============================] - 27s - loss: 0.0526 - acc: 0.9831
Epoch 4/40
42000/42000 [==============================] - 27s - loss: 0.0477 - acc: 0.9854
Epoch 5/40
42000/42000 [==============================] - 27s - loss: 0.0467 - acc: 0.9862
Epoch 6/40
42000/42000 [==============================] - 27s - loss: 0.0468 - acc: 0.9854
Epoch 7/40
42000/42000 [==============================] - 27s - loss: 0.0420 - acc: 0.9863
Epoch 8/40
42000/42000 [==============================] - 27s - loss: 0.0404 - acc: 0.9874
Epoch 9/40
42000/42000 [==============================] - 27s - loss: 0.0428 - acc: 0.9864
Epoch 10/40
42000/42000 [==============================] - 27s - loss: 0.0413 - acc: 0.9870
Epoch 11/40
42000/42000 [==============================] - 27s - loss: 0.0379 - acc: 0.9884
Epoch 12/40
42000/42000 [==============================] - 27s - loss: 0.0388 - acc: 0.9877
Epoch 13/40
42000/42000 [==============================] - 27s - loss: 0.0380 - acc: 0.9878
Epoch 14/40
42000/42000 [==============================] - 27s - loss: 0.0385 - acc: 0.9884
Epoch 15/40
42000/42000 [==============================] - 27s - loss: 0.0347 - acc: 0.9893
Epoch 16/40
42000/42000 [==============================] - 27s - loss: 0.0349 - acc: 0.9894
Epoch 17/40
42000/42000 [==============================] - 27s - loss: 0.0346 - acc: 0.9889
Epoch 18/40
42000/42000 [==============================] - 27s - loss: 0.0316 - acc: 0.9898
Epoch 19/40
42000/42000 [==============================] - 27s - loss: 0.0309 - acc: 0.9905
Epoch 20/40
42000/42000 [==============================] - 27s - loss: 0.0304 - acc: 0.9902
Epoch 21/40
42000/42000 [==============================] - 27s - loss: 0.0297 - acc: 0.9903
Epoch 22/40
42000/42000 [==============================] - 27s - loss: 0.0292 - acc: 0.9908
Epoch 23/40
42000/42000 [==============================] - 27s - loss: 0.0306 - acc: 0.9904
Epoch 24/40
42000/42000 [==============================] - 27s - loss: 0.0295 - acc: 0.9909
Epoch 25/40
42000/42000 [==============================] - 27s - loss: 0.0267 - acc: 0.9911
Epoch 26/40
42000/42000 [==============================] - 27s - loss: 0.0278 - acc: 0.9907
Epoch 27/40
42000/42000 [==============================] - 27s - loss: 0.0263 - acc: 0.9913
Epoch 28/40
42000/42000 [==============================] - 27s - loss: 0.0248 - acc: 0.9919
Epoch 29/40
42000/42000 [==============================] - 27s - loss: 0.0266 - acc: 0.9914
Epoch 30/40
42000/42000 [==============================] - 27s - loss: 0.0249 - acc: 0.9921
Epoch 31/40
42000/42000 [==============================] - 27s - loss: 0.0250 - acc: 0.9915
Epoch 32/40
42000/42000 [==============================] - 27s - loss: 0.0245 - acc: 0.9922
Epoch 33/40
42000/42000 [==============================] - 27s - loss: 0.0236 - acc: 0.9921
Epoch 34/40
42000/42000 [==============================] - 27s - loss: 0.0213 - acc: 0.9932
Epoch 35/40
42000/42000 [==============================] - 26s - loss: 0.0239 - acc: 0.9916
Epoch 36/40
42000/42000 [==============================] - 26s - loss: 0.0222 - acc: 0.9927
Epoch 37/40
42000/42000 [==============================] - 26s - loss: 0.0210 - acc: 0.9933
Epoch 38/40
42000/42000 [==============================] - 26s - loss: 0.0192 - acc: 0.9939
Epoch 39/40
42000/42000 [==============================] - 26s - loss: 0.0202 - acc: 0.9936
Epoch 40/40
42000/42000 [==============================] - 26s - loss: 0.0198 - acc: 0.9939

In [54]:
test = pd.read_csv('../dataset/test.csv')
test.shape

(28000, 784)

In [86]:

X_test = test.as_matrix()/255
X_test = X_test.reshape(28000,28,28,1)
X_test.shape

Y_test = model.predict(X_test)

In [87]:
dfSub = pd.DataFrame({"Label":np.argmax(Y_test,axis=1)})
dfSub.head()

   Label
0      2
1      0
2      9
3      9
4      3

In [88]:
dfSub['ImageId'] = dfSub.index+1
dfSub.to_csv('../out/sub.csv',index=False)

In [71]:
dfSub.tail()

       Label  ImageId
27995      9    27996
27996      7    27997
27997      3    27998
27998      9    27999
27999      2    28000

   Label1  ImageId
0       2        0
1       0        1
2       9        2
3       9        3
4       3        4